<!--
  Generated template for the AdicaoAulaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
</ion-header>


<ion-content padding>

  <form [formGroup]="form">
    <ion-list>
      <ion-item>
        <ion-label>Matéria</ion-label>
        <ion-select formControlName="materia" multiple="false" cancelText="Cancelar" okText="Ok">
          <ion-option value="Biologia">Biologia</ion-option>
          <ion-option value="Filosofia">Filosofia</ion-option>
          <ion-option value="Fisica">Física</ion-option>
          <ion-option value="Geografia">Geografia</ion-option>
          <ion-option value="Historia">História</ion-option>
          <ion-option value="Matematica">Matemática</ion-option>
          <ion-option value="Portugues">Português</ion-option>
          <ion-option value="Quimica">Química</ion-option>
          <ion-option value="Sociologia">Sociologia</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="!form.controls.materia.valid && (form.controls.materia.dirty || form.controls.materia.touched)"
        color="danger">
        <div [hidden]="!form.controls.materia.errors.required">
          O campo é obrigatório
        </div>
      </ion-item>
      <br>

      <ion-item>
        <ion-label>Area Focada</ion-label>
        <ion-select formControlName="foco" multiple="true" cancelText="Cancelar" okText="Ok">
          <ion-option value="6° Ano - Ensino Fundamental">6° Ano - Ensino Fundamental</ion-option>
          <ion-option value="7° Ano - Ensino Fundamental">7° Ano - Ensino Fundamental</ion-option>
          <ion-option value="8° Ano - Ensino Fundamental">8° Ano - Ensino Fundamental</ion-option>
          <ion-option value="9° Ano - Ensino Fundamental">9° Ano - Ensino Fundamental</ion-option>
          <ion-option value="1° Ano - Ensino Médio">1° Ano - Ensino Médio</ion-option>
          <ion-option value="2° Ano - Ensino Médio">2° Ano - Ensino Médio</ion-option>
          <ion-option value="3° Ano - Ensino Médio">3° Ano - Ensino Médio</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="!form.controls.foco.valid && (form.controls.foco.dirty || form.controls.foco.touched)"
        color="danger">
        <div [hidden]="!form.controls.foco.errors.required">
          O campo é obrigatório
        </div>
      </ion-item>
      <br>

      <ion-item>
        <ion-label>Periodos disponíveis</ion-label>
        <ion-select formControlName="periodo" multiple="true" cancelText="Cancelar" okText="Ok">
          <ion-option value="Matutino">Matutino</ion-option>
          <ion-option value="Vespertino">Vespertino</ion-option>
          <ion-option value="Noturno">Noturno</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="!form.controls.periodo.valid && (form.controls.periodo.dirty || form.controls.periodo.touched)"
        color="danger">
        <div [hidden]="!form.controls.periodo.errors.required">
          O campo é obrigatório
        </div>
      </ion-item>
      <br>

      <ion-item>
        <ion-label>Dias da semana disponíveis</ion-label>
        <ion-select formControlName="dias" multiple="true" cancelText="Cancelar" okText="Ok">
          <ion-option value="Domingo">Domingo</ion-option>
          <ion-option value="Segunda-feira">Segunda-feira</ion-option>
          <ion-option value="Terça-feira">Terça-feira</ion-option>
          <ion-option value="Quarta-feira">Quarta-feira</ion-option>
          <ion-option value="Quinta-feira">Quinta-feira</ion-option>
          <ion-option value="Sexta-feira">Sexta-feira</ion-option>
          <ion-option value="Sábado">Sábado</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="!form.controls.dias.valid && (form.controls.dias.dirty || form.controls.dias.touched)"
        color="danger">
        <div [hidden]="!form.controls.dias.errors.required">
          O campo é obrigatório
        </div>
      </ion-item>
      <br>

      <ion-item>
        <ion-label>Obs:</ion-label>
        <ion-textarea formControlName="obs"></ion-textarea>
      </ion-item>
    </ion-list>
    <br>
    <div padding style="text-align: center;">
      <button ion-button class="btn" type="submit" [disabled]="!form.valid" (click)="onSubmit()">Salvar</button>
    </div>
  </form>
</ion-content>