<!--
  Generated template for the PerfilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


</ion-header>


<ion-content padding>
  <ion-list-header>
    <h2>Seu Perfil</h2>
  </ion-list-header>

  <table>
    <tr>
      <td style="padding: 15px;  width: 50%;">
        <ion-img width="110" height="110" src="{{ this.currrentUser.foto }}" style="text-align: left;"> </ion-img>
      </td>
      <td>
        <div style="text-align: left">
          {{this.currrentUser.nome}}<br>
          {{this.currrentUser.nasc}}<br>
          {{this.currrentUser.sexo}}
        </div>
      </td>
    </tr>
  </table>
  <ion-item *ngIf="this.cep != undefined">
    <p>{{this.cep.logradouro}} <br>
      Bairro: {{this.cep.bairro}} <br>
      Cidade: {{this.cep.localidade}} &nbsp; UF: {{this.cep.uf}}</p>
  </ion-item>

  <ion-list-header>
    <h3>Aulas Oferecidas</h3>
  </ion-list-header>

  <ion-card *ngFor="let materia of materias">
    <ion-card-header>
      {{materia.dados.key}}
    </ion-card-header>
    <ion-card-content>
      Área Focada:<br>
      {{materia.dados.foco}}<br><br> 
      {{materia.dados.obs}}
    </ion-card-content>
  </ion-card>


  <ion-fab right bottom>
    <button ion-fab (click)="goAdicaoAula()">+</button>
  </ion-fab>

</ion-content>