page-chatroom {
}

#chatPage {
  display: flex;
  flex-direction: row;
  .chat {
    background-color: purple;
    border: none;
    width: 90%;
    margin-bottom: 20px;
    border-radius: 5px;
    align-self: flex-end;
    margin-left: 10%;    
  }

  .chat-partner {
    margin-left: 0%;
    margin-right: 10%;
    width: 90%;    
    background-color: grey;
  }
}
